<div class="blog-card">
        <img src={{blog_image}} class="blog-image" alt={{blog_image_alt}}>
        <h1 class="blog-title">{{blog_title}}</h1>
        <p class="blog-overview">{{blog_overview}}</p>
        <a href="/" class="btn dark">read</a>
</div>