*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #122C34;
    z-index: 9;
}

.logo {
    width: auto;
    height: 90px;
    border-radius: 50%;
    vertical-align: bottom;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 800;
}


/* .content{
    text-align: center;
} */

#login{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    height: 300px;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title{
    display: inline-block;
    margin: 10px;
    font-weight: 600;
    padding: 10px;
    /* background-color: #000; */
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

#input-container {
    padding: 5px;
    height: 40px;
    border-radius: 12px;
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    width: 200px;
}

.input {
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    background-color:#fff;
    font-size: 14px;
    height: 100%;
    outline: 0;
    /* padding: 4px 20px 0; */
    width: 100%;
    /* margin: 5px; */
    padding: 5px;
    /* border: #000; */
    border: .5px solid gray;
    /* background-color: lightgray; */
}